//- Формирует меню при помощи списка
mixin menu(className, items)
  ul(class = `${className}`)
    each item in items
      li(class = `${className}__item` )
        a(class = `${className}__link`,  href = item.link) #{item.label}

//- Формирует блок социалок
mixin socials(className)
  ul(class = `${className}`)
    each item in $.socials
      li(class = `${className}__item` )
        a(class = `${className}__link`,  href = item.link) #{item.name}

//- Формирует строчку текста, которая выводится в подвале
mixin footerLine()
  .footer-line &copy; #{$.site.author} | #{$.site.motto} | #{$.site.date}

//- Формирует стандартный подвал для всех страниц, кроме страницы приветствия
mixin footer()
  footer.footer ------Это подвал----------
    +menu("footer-menu", $.footerMenu)
    +socials()
    .footer__message #{$.site.footerMessage}
    +footerLine()