footer.footer
    .footer__block.footer__block_bordered
        ul.footer__menu
            each item in $.footerMenu
                li.footer__menu-item
                    a.footer__menu-link(href=item.link)=item.label
        .footer__socials-wrapper
            +socials('white', true)
    .footer__block
        .footer__left-text #{$.site.footerMessage}
        .footer__right-text &copy; #{$.site.author} | #{$.site.motto} | #{$.site.date}

