extends ../layout

block variables
    - var title = $.site.author + " | " +  $.site.name + " | " + $.site.pages.blog
block content
    .wrapper
        -var pageName = "blog"
                include ../sections/hero

                section.section.blog
                    .wrapper.blog__wrapper
                        aside.blog__col.blog__col_left
                            .blog__wrap-menu
                                ul.blog__menu
                                    each item in blog
                                        if item.selected
                                            li.blog__menu-item.blog__menu-item_selected #{item.title}
                                        else
                                            li.blog__menu-item #{item.title}
                        main.blog__col.blog__col_right
                            .blog__content
                                each item in blog
                                    article.blog__item.news
                                        h1.blog__item-header #{item.title}
                                        .blog__item-date #{item.date}
                                        .blog__item-content!= item.text

        .empty
    include ../sections/footer
    .slide-menu("id"="slide-menu").slide-menu_collapse
        .slide-menu-wrapper
            .slide-menu__handler
            ul.blog__menu
                each item in blog
                    if item.selected
                        li.blog__menu-item.slide__menu-item.blog__menu-item_slide-menu.blog__menu-item_slide-menu_selected #{item.title}
                    else
                        li.blog__menu-item.slide__menu-item.blog__menu-item_slide-menu #{item.title}