extends ../layout
block variables
    - var title = $.site.author + " | " + $.site.name + " | " + $.site.pages.about

block content
    .wrapper
        -var pageName = "about"
        include ../sections/hero
        section.section.about
            .about__col.about__col_left
                .section-title(style="background-image: url('assets/img/decor/about_header.svg')")
                    | Обо мне
                .about__inner
                    img.about__pic(src="/assets/img/content/author_big.png" alt="Фото автора")
                    .block-title Кто я
                    .block-text!= $.aboutText
            .about__col.about__col_right
                .skills
                    .block-title Чем я могу быть вам полезен
                    .skills__text!= $.usefull.text
                    .skills__groups
                        each skillGroup in $.usefull.areas
                            .skills__group
                                .skills__group-title #{skillGroup.name}
                                each skill in skillGroup.skills
                                    .skill
                                        svg.skill__svg
                                            circle(r="45" cx="50%" cy="50%" ).skill__circle-under
                                            circle(r="45" cx="50%" cy="50%" ).skill__circle-above
                                        .skill__name #{skill.name}
        section.section.map
            .map__google(id="map")
            .contacts
                .block-title.block-title_center Контакты
                .contacts__list
                    each item in $.contacts
                        .contacts__item
                            svg(class=`svg-${item.name}-dims`).contacts__svg
                                use(xlink:href=`assets/img/sprite/sprite.svg#${item.name}`)
                            span.contacts__value #{item.value}
    include ../sections/footer